:root {
    --red: #A10000;
    --off-red: #7b0000;
    --red-bg: #A100004D;
    --white: #fff;
    --off-white: #FCFCFC;
    --grey: #EBEBEB;
    --font: 'open-sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;

    & ol,
    ul {
        list-style: none;
    }
}

html {
    background: var(--white);
    overflow-x: hidden;
}

body {
    background-color: #f4f4f9;
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

.skip-link {
    position: absolute;
    inset: -500px auto auto 0;
    background: #000;
    color: var(--white);
    padding: 10px 20px;
    transition: inset 0.1s;

    &:focus {
        inset: 0 auto auto 0;
    }
}

header {
    width: 100%;
    background: var(--white);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

    & nav {
        margin-left: 1rem;
        margin-right: 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        & .logo {
            border-radius: 0.5rem;
            background-color: var(--off-red);
            padding: 1rem;
            color: white;
            font-size: large;
        }

        & button {
            background-color: var(--off-red);
            color: white;
            border: none;
            padding: 1rem;
            border-radius: 0.5rem;
        }
    }

    & nav ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: darkgrey;

        & li {
            width: 200px;
            text-align: center;
            margin: 10px;

            &:hover {
                cursor: pointer;
            }

            & a {
                color: black;

                &:hover {
                    color: gray;
                    transition: 0.3s
                }
            }



        }

    }
}

main {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    background: var(--off-white);
    border: 1px var(--off-white) solid;
    ;

    & .top-image-container {
        width: 100%;
    }

    & .top-image {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

h1 {
    color: var(--red);
    font-size: 28px;
    font-weight: bold;
}

.description-background {
    margin-top: 0.5rem;
    background: var(--grey);

    & p {
        padding: 1rem;
    }
}

.recipe-container {
    padding: 24px 0 48px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    width: 95%;

    & :is(.ingredients-container, .cooking-instructions-container) {

        & li {
            padding-top: 16px;
        }

        & li:first-child {
            padding-top: 0;
        }
    }
}

.bottom-image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
   


    & h2 {
        grid-column: span 2;
        margin-bottom: 20px;

    }

    & .bottom-image {
      
        object-fit: cover;
        grid-row: 2;
    }
}

footer {
    width: 100%;
    height: 50px;
    background: var(--white);
    margin-top: 5%;
    display: flex;
    place-content: center;
}

@media (max-width: 1280px) {
    main {
        width: 95%;
    }
}

@media (max-width: 980px) {
    main {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .bottom-image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bottom-image {
        width: 100%;
        height: auto;
    }
}