:root {
    --bg:#f4f4f9;
    --text-primary: #666;
    --white: #fff;
    --off-white: #FCFCFC;
    --grey: #EBEBEB;
    --font: 'open-sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-primary);
}
a {
    text-decoration: none;
}
ul,
ol {
    list-style: none;
}
body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--bg);

}
header {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    background: var(--white);
    display: flex;
    justify-content: center;

    & nav {
        width: 90vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        & .logo {
            color: --text-primary;
            font-family: "Reem Kufi Fun", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: bold;
            font-size: 3rem;
        }

        & button {
            cursor: pointer;
            background-color: #BB595F;
            color: white;
            border: none;
            padding: 1rem;
            border-radius: 0.5rem;
            width: 30vw;
            transition: linear 0.2s;
            font-weight: bold;
            &:hover {
                background-color: #AF3C3F;
            }
        }
    }

    & nav ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        & li {
            text-align: center;

            &:hover {
                cursor: pointer;
            }

            & a {
                color: #666;
                font-weight: bold;
                &:hover {
                    color: #BB595F;
                    transition: 0.3s ease-in-out;
                }
            }



        }

    }
}

.skip-link {
    position: absolute;
    inset: -500px auto auto 0;
    background: #BB595F;
    color: var(--white);
    padding: 10px 20px;
    transition: inset 0.1s;

    &:focus {
        inset: 0 auto auto 0;
        z-index: 20;
    }
}

.hero {
    margin-bottom: 2rem;
    height: 40vh;
    position: relative;
    overflow: hidden;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(4px) saturate(50%);
        z-index: -1;
        position: absolute;

    }

    & h1,
    p {
        justify-self: center;
        align-self: center;
        width: 90vw;
        margin-top: 10rem;
        color: #fff;
        z-index: 1;
        font-size: 4rem;
        text-decoration: underline;
        text-decoration-color: #BB595F;
        text-decoration-thickness: 10px;
    }

    & p {
        margin-top: 0;
        font-size: large;
        padding-top: 0.5rem;
        text-decoration: none;
        text-decoration-color: #BB595F;
        text-decoration-thickness: 10px;
    }

}

.container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    align-items: stretch;
}

.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    & a:hover {
        text-decoration: underline;
        text-decoration-color: #555;
    }
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.card-content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card h3 {
    margin-bottom: 10px;
    color: #555;
    font-size: 1.25rem;
}

.card p {

    line-height: 1.6;
    flex-grow: 1;
}

@media (max-width: 1300px) {
    header {
        & nav {
            width: 100vw;
        }
    }
}

@media (max-width: 1024px) {

    header {
        position: static;

        & nav {

            width: 100vw;
            display: flex;
            flex-direction: column;
            padding: 1rem;

            & .logo {
                text-align: center;
                width: 100vw;
            }

            & button {
                width: 30vw;
            }

            & ul {
                width: 100%;
                display: flex;
                flex-direction: column;

                & li {
                    text-align: center;
                    align-self: center;

                }
            }
        }
    }
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        width: 95%;
    }

    .card-image {
        height: 180px;
    }
}

footer {
    height: 30vh;
    display: flex;
    align-items: end;
    justify-content: center;
    background-image: url(/images/footer-bg/footer.svg);
        & p {
            font-family: "Reem Kufi Fun", sans-serif;
            font-size: 1rem;
            margin-bottom: 1rem;
            color:white;
        }
}

.main-recipe {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recipe-container {
    width: 90%;
    border-radius: 0rem 0rem 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.bottom-image-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    & h2 {
        width: 100%;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
}

.description-container {
    padding-bottom: 3rem;
}

.ingredients-instructions-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;

    & .svg-filter {
        filter: invert(33%) sepia(94%) saturate(0%) hue-rotate(209deg) brightness(98%) contrast(10%);
    }

    .ingredients-container {
        width: 30%;
        align-self: start;
        justify-self: start;

        & ul {
            list-style: circle;
            background-color: white;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            padding: 2rem;

            & li {
                padding: 0.6rem;
                background-color: white;
                margin: 1rem;
                border-radius: 10px;
                border: 0.5px solid #666;
            }
        }

        & p {
            padding: 0.4rem;
            width: 100%;
            background-color: #BB595F;
            color: white;
            padding-left: 2rem;
            padding-bottom: 1rem;
        }

        & h2 {
            background-color: #BB595F;
            padding-left: 2rem;
            padding-top: 2rem;
            color: white;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            font-weight: bold;
        }
    }

    .cooking-instructions-container {
        width: 70%;
        padding: 1rem;
        text-align: left;
        padding-left: 3rem;
        align-self: start;
        justify-self: start;

        & ol {
            list-style: decimal;
            list-style: circle;

            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;

            & li {
                padding: 1rem;
                background-color: white;
                margin: 1rem;
                border-radius: 10px;
                border: 0.5px solid #666;
                transition: 0.1s ease-in-out;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    & h2 {
        font-weight: bold;
    }

}

.recipe-info {

    color: white;
    display: flex;
    justify-self: end;
    justify-content: end;
    align-items: center;

    & .recipe-info-background {
        background-color: #666;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        margin-right: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;

        & span {
            color: white;
        }

    }
}

@media (max-width: 1280px) {

    .recipe-container {
        width: 100%;
    }

    .ingredients-instructions-wrapper {
        flex-direction: column;
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;

        & .ingredients-container {
            width: 100%;
        }

        & .cooking-instructions-container {
            width: 100%;
            padding: 0;
            margin-top: 2rem;
        }
    }

    .bottom-image-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & img {
            height: 400px;
            width: 400px;
        }

        & h2 {
            padding-left: 2rem;
        }
    }

    .recipe-info {
        & .recipe-info-background {
            border-radius: 0;
            width: 100%;
            align-items: center;
            justify-content: center;
            margin: 0;
            margin-bottom: 2rem;
        }
    }

}

#recipe-hero {
    margin-bottom: 0;

    & h1 {
        font-size: 2.5rem;
        display: flex;
        align-items: end;
        height: inherit;
        padding-bottom: 2rem;
        margin-top: 0;
    }
}