:root {
    --red: #A10000;
    --off-red: #9a9393;
    --red-bg: #A100004D;
    --white: #fff;
    --off-white: #FCFCFC;
    --grey: #EBEBEB;
    --font: 'open-sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

header {

    position: sticky;
    top: 0;
    z-index: 10;

    width: 100%;
    background: var(--white);
    display: flex;
    justify-content: center;

    & nav {

        width: 90vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        & .logo {
            color: #666;
            font-family: "Reem Kufi Fun", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: bold;
            font-size: 3rem;
            width: 30vw;
        }

        & button {
            background-color: #BB595F;
            color: white;
            border: none;
            padding: 1rem;
            border-radius: 0.5rem;
            cursor: pointer;
            width: 30vw;
            transition: linear 0.2s;

            &:hover {
                background-color: #AF3C3F;
            }
        }
    }

    & nav ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        & li {
            width: 200px;
            text-align: center;
            margin: 10px;

            &:hover {
                cursor: pointer;
            }

            & a {
                color: #666;
                font-size: large;
                font-weight: bold;

                &:hover {
                    color: #BB595F;
                    transition: 0.3s ease-in-out;
                }
            }



        }

    }
}

.skip-link {
    position: absolute;
    inset: -500px auto auto 0;
    background: #BB595F;
    color: var(--white);
    padding: 10px 20px;
    transition: inset 0.1s;

    &:focus {
        inset: 0 auto auto 0;
        z-index: 20;
    }
}


.hero {
    margin-bottom: 2rem;
    height: 40vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(4px) saturate(50%);
        z-index: -1;
        position: absolute;

    }

    & h1,
    p {
        justify-self: center;
        align-self: center;
        width: 90vw;
        margin-top: 10rem;
        color: #fff;
        z-index: 1;
        font-size: 4rem;
        text-decoration: underline;
        text-decoration-color: #BB595F;
        text-decoration-thickness: 10px;
    }

    & p {
        margin-top: 0;
        font-size: large;
        padding-top: 0.5rem;
        text-decoration: none;
        text-decoration-color: #BB595F;
        text-decoration-thickness: 10px;
    }

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;

}

.container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    align-items: stretch;
}

.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    & a:hover {
        text-decoration: underline;
        text-decoration-color: #555;
    }
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.card-content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card h3 {
    margin-bottom: 10px;
    color: #555;
    font-size: 1.25rem;
}

.card p {
    color: #666;
    line-height: 1.6;
    flex-grow: 1;
}

@media (max-width: 1300px) {
    header {
        & nav {
            width: 100vw;
        }
    }
}

@media (max-width: 1024px) {

    header {
        position: static;

        & nav {

            width: 100vw;
            display: flex;
            flex-direction: column;
            padding: 1rem;

            & .logo {
                text-align: center;
                width: 100vw;
            }

            & button {
                width: 30vw;
            }

            & ul {
                width: 100%;
                display: flex;
                flex-direction: column;

                & li {
                    text-align: center;
                    align-self: center;

                }
            }
        }
    }




    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        width: 95%;
    }

    .card-image {
        height: 180px;
    }
}

footer {
    margin-top: 2rem;
    height: 30vh;
    align-items: center;

    background-image: url(/images/footer-bg/footer.svg);

    & .one {
       /* background-color: #BB595F; */
        
        height: 80%;

        display: flex;

        & h4 {
            padding-left: 1rem;
            color: white;
            font-family: "Reem Kufi Fun", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: bold;
            font-size: 3rem;
        }
    }

    & .two {
        display: flex;
        /* background-color: #AF3C3F; */
        color: white;
        height: 20%;
        justify-items: center;
        align-items: center;

        & p {

            width: 100%;
            font-family: "Reem Kufi Fun", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: bold;
            font-size: 1rem;
            text-align: center;
        }
    }

}







.main-recipe {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  


}

.recipe-container {
    width: 90%;
    
    border-radius: 0rem 0rem 1rem 1rem;
    
    display: flex;
    flex-direction: column;
    color: #666;

    & .padding-wrapper {
        padding: 0 2rem 2rem 2rem;
    }

    & h1 {
        color: #666;
    }

    & h2 {
        color: #666
    }


}

.bottom-image-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #666;


    & h2 {
        width: 100%;
        margin-bottom: 1rem;
        margin-top:4rem;
    }

    &.left {

        & img {}

    }

    &.right {


        & img {}
    }
}

.description-container {
    padding-bottom: 3rem;
}

.ingredients-instructions-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;


    & .svg-filter {
        filter: invert(33%) sepia(94%) saturate(0%) hue-rotate(209deg) brightness(98%) contrast(10%);


    }

    .ingredients-container {

        width: 30%;
    
      
        align-self: start;
        justify-self: start;



        & ul {
            list-style: circle;
            background-color: white;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            padding: 2rem;

            & li {
                padding: 0.6rem;
                background-color: white;
                margin: 1rem;
                border-radius: 10px;
                border: 0.5px solid #666;
            }
        }

        & p {
            padding: 0.4rem;
            width: 100%;
            background-color: #BB595F;
            color: white;
            padding-left: 2rem;
            padding-bottom: 1rem;

        }

        & h2 {
            background-color: #BB595F;
            padding-left: 2rem;
            padding-top: 2rem;
            color: white;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }

        


    }

    .cooking-instructions-container {
        width: 70%;
        padding: 1rem;
        text-align: left;
        padding-left: 3rem;
        align-self: start;
        justify-self: start;
    

       



        & ol {
            list-style: decimal;
            list-style: circle;
            
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
           

            & li {
                padding: 1rem;
                background-color: white;
                margin: 1rem;
                border-radius: 10px;
                border: 0.5px solid #666;
            }
        }


    }
    & h2 {
       
    }


}

.recipe-info {

    
    color: white;
    display: flex;
    justify-self: end;
    justify-content: end;
    align-items: center;
  


    & .recipe-info-background {
        background-color: #666;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        margin-right: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        
    }
}


@media (max-width: 1280px) {


    .ingredients-instructions-wrapper {
        flex-direction: column;
        width: 100%;

        & .ingredients-container {
            width: 100%;
            
        }

        & .cooking-instructions-container {
            width: 100%;
        }
    }
    .bottom-image-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & img {
            height: 300px;
            width: 300px;
        }
    }

}


#recipe-hero{
    margin-bottom: 0;
    & h1 {
        font-size: 2.5rem;
    }
}

