:root {
    --bg: #f4f4f9;
    --text-primary: #666;
    --white: #fff;
    --font: 'open-sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-primary);
}

a {
    text-decoration: none;
}

li,
ul,
ol {
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--bg);


}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    background: var(--white);
    display: flex;
    justify-content: center;

    & nav {
        width: 90vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        & .logo {
            color: --text-primary;
            font-family: "Reem Kufi Fun", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: bold;
            font-size: 3rem;
        }

        & button {
            cursor: pointer;
            background-color: #BB595F;
            color: white;
            border: none;
            padding: 1rem;
            border-radius: 0.5rem;
            width: 30vw;
            transition: linear 0.2s;
            font-weight: bold;

            &:hover {
                background-color: #AF3C3F;
            }
        }
    }

    & nav ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        & li {
            text-align: center;

            &:hover {
                cursor: pointer;
            }

            & a {
                color: #666;
                font-weight: bold;

                &:hover {
                    color: #BB595F;
                    transition: 0.3s ease-in-out;
                }
            }



        }

    }
}

.skip-link {
    position: absolute;
    inset: -500px auto auto 0;
    background: #BB595F;
    color: var(--white);
    padding: 10px 20px;
    transition: inset 0.1s;

    &:focus {
        inset: 0 auto auto 0;
        z-index: 20;
    }
}

.hero {
    margin-bottom: 2rem;
    height: 40vh;
    position: relative;
    display: flex;
    align-items: end;

    & img {
        height: inherit;
        width: 100%;
        filter: saturate(90%) contrast(60%) hue-rotate(340deg);
        z-index: 1;
        position: absolute;
        object-fit: cover;
    }

    & div {
        margin-left: 4.5rem;
        margin-bottom: 2rem;
    }

    & h1 {
        font-size: 2.5rem;
        display: flex;
        align-items: end;
        margin-top: 0;
        text-decoration: underline;
        text-decoration-color: #BB595F;
        text-decoration-thickness: 10px;
    }

    & h1,
    p {

        justify-self: center;
        color: #fff;
        text-shadow: 2px 2px 45px #666;
        z-index: 2;
        position: relative;
        font-size: 2.5rem;
    }

    & p {
        font-size: large;
        padding-top: 0.5rem;
        text-decoration: none;
    }

    /* & .star-rating{
        width: 100vw;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin:0;
        padding:0;

    } */
}

.container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    & a:hover {
        text-decoration: underline;
        text-decoration-color: #555;
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
    }
}

.card-image {
    width: 100%;
    object-fit: cover;
}

.card-content {
    padding: 1.5rem
}

.card h3 {
    margin-bottom: 0.5rem;
    color: #666;
    font-size: 1.25rem;
}

.card p {
    line-height: 1.5;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    margin-top: 5rem;

    & p {
        font-family: "Reem Kufi Fun", sans-serif;
        font-size: 1rem;
        margin-bottom: 1rem;
        color: white;
    }

    & .one {}

    & .two {
        background-color: #BB595F;
        width: 100%;
        height: 20vh;
        /*background-image: linear-gradient(to top, #000000, #252525, #464646, #696969, #8e8e8e);*/
    }
}

.main-recipe {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#recipe-hero {
    margin-bottom: 0rem;

    & h1 {
        margin-left: 4.5rem;
        margin-bottom: 4rem;
    }
}

.recipe-container {
    width: 90%;
}

.bottom-image-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    & h2 {
        width: 100%;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
}

.ingredients-instructions-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;

    & .svg-filter {
        filter: invert(33%) sepia(94%) saturate(0%) hue-rotate(209deg) brightness(98%) contrast(10%);
    }

    .ingredients-container {
        width: 30%;
        align-self: start;
        justify-self: start;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 1rem;


        & ul {
            list-style: circle;
            background-color: white;
            padding: 2rem;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;


            & li {
                list-style-position: inside;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                padding: 1rem;
                background-color: white;
                margin: 1rem;
                border-radius: 10px;

            }
        }

        & p {
            padding: 0.4rem;
            width: 100%;
            background-color: #BB595F;
            color: white;
            padding-left: 2rem;
            padding-bottom: 1rem;
        }

        & h2 {
            background-color: #BB595F;
            padding-left: 2rem;
            padding-top: 1.5rem;
            color: white;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            font-weight: bold;
        }
    }

    .cooking-instructions-container {
        width: 70%;
        padding: 1rem;
        text-align: left;
        padding-left: 3rem;
        
        & ol {
            

            & li {
                list-style: decimal;
                list-style-position: inside;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                padding: 1rem;
                background-color: white;
                margin: 1rem;
                border-radius: 10px;
                cursor: pointer;
                transition: 0.1s ease-in-out;

                &::marker {
                    font-weight: bold;
                }

                &:hover {
                    background-color: #f5f5f5;
                }
            }
        }
    }
}

.recipe-info {

    color: white;
    display: flex;
    justify-self: end;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    

    & .recipe-info-background {
        background-color: #666;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        margin-right: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: start;
        padding: 1rem;

        & span {
            color: white;
        }

        & span:nth-child(2) {
            padding-right: 0.3rem;
        }


    }
    & .recipe-rating-background{
        display: flex;
        flex-direction: row;
        background-color: white;
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        & .ratings-number-bg{
            background-color: #bb59605e;
            padding:0.2rem;
            margin-left: 0.5rem;
            border-radius: 0.2rem;
           

            & p{
                 color:#AF3C3F;
            font-weight: bold;
            }
        }
    }
}

@media (max-width: 1280px) {

    .recipe-container {
        width: 100%;
    }

    .recipe-info {
        width: 100%;
        flex-direction: column;
    }

    .ingredients-instructions-wrapper {
        flex-direction: column;
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;

        & .ingredients-container {
            width: 100%;
        }

        & .cooking-instructions-container {
            width: 100%;
            padding: 0;
            margin-top: 2rem;
        }
    }

    .bottom-image-container {
        width: 95%;
        margin-left: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & img {
            height: 400px;
            width: 400px;
        }

        & h2 {
            padding-left: 2rem;
        }
    }

    .recipe-info {
        & .recipe-info-background {
            border-radius: 0;
            width: 100%;
            align-items: center;
            justify-content: center;
            margin: 0;
            margin-bottom: 2rem;
        }
    }

}

@media (max-width: 1024px) {

    header {
        position: static;

        & nav {

            width: 100vw;
            display: flex;
            flex-direction: column;
            padding: 1rem;

            & .logo {
                text-align: center;
                width: 100vw;
            }

            & button {
                width: 30vw;
            }

            & ul {
                width: 100%;
                display: flex;
                flex-direction: column;

                & li {
                    text-align: center;
                    align-self: center;
                    padding: 0.5rem;
                }

                & li:last-child {
                    margin-bottom: 0.5rem;
                }
            }
        }
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        width: 95%;
    }

    .card-image {
        height: 180px;
    }
}


.modal {
    position: fixed;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    min-width: 60vw;
    max-width: 90vw;
    padding: 5rem;
    border-radius: 1rem;

    & h2 {
        margin-bottom: 1rem;
        font-size: xx-large;
    }
}


.contact-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-weight: 600;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #333;
    outline: none;
}

.form-group textarea {
    resize: none;
    height: 100px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #BB595F;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #AF3C3F;
}

.star{
    filter:contrast(0)
}
.star:hover {
    filter:none
}