html {
    background-color: white;
    overflow-x: hidden;
}

body {
    background-color: #A100004D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: open-sans, sans-serif;

}

.skip-link {
    position: absolute;
    top: -500px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 10px 20px;
    transition: top 0.1s;
}

.skip-link:focus {
    top: 0;
}

header {
    width: 100%;
    background-color: white;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

nav ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    justify-items: center;
}
header nav li{
    width: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px 10px 5px 10px;
    background-color: #A10000;
    border-radius: 20px;
    margin: 10px;
}


a {
    text-decoration: none;
    color: white;
}


h1 {
    color: #A10000;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 64%;
    height: fit-content;
    justify-content: top;
    align-items: center;
    background-color: #FCFCFC;
    border: 1px #FCFCFC solid;
}

.top-image-container {
    width: 100%;
}

.top-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.recipe-container {
    padding: 24px 0 48px 0;
    gap: 24px;
    display: flex;
    flex-direction: column;
    width: 95%;
}

.description-container {
    font-size: 16px;
    text-align: left;
    flex-direction: column;
    display: flex;
    justify-content: left;
}

.description-background {
    margin-top: 10px;
    background-color: #EBEBEB;
    width: 100%;
}

.description-background p {
    padding-left: 10px;
}

.ingredients-container h2 {
    margin-top: 0;
}

.ingredients-container p {
    margin-bottom: 0;
}

.ingredients-container ul {
    margin: 0;
    padding-left: 25px;
    font-size: 16px;
}

.ingredients-container li {
    padding-top: 16px;
}

.cooking-instructions-container h2 {
    margin-bottom: 0;
}

.cooking-instructions-container ol {
    margin: 0;
    padding-left: 25px;
    font-size: 16px;
}

.cooking-instructions-container li {
    padding-top: 16px;
}

.bottom-image-heading {
    margin-bottom: 0;
}

.bottom-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(0.1fr, 1fr);
    padding: 0
}

.bottom-image-container h2 {
    grid-column: span 2 / span 2;
    margin-bottom: 20px;
}

.left {
    grid-row-start: 2;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    justify-self: center;

}

.right {
    grid-row-start: 2;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    justify-self: center;
}

.bottom-image {
    height: 400px;
    width: 400px;
    object-fit: cover;

}

@media (max-width: 1280px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 980px) {
    .container {
        width: 100%;
        margin: 0
    }

    ul.header {
        display: flex;
        flex-direction: column;
    }

    .content-container {
        padding: 24px 0 48px 0;
    }

    .bottom-image-container {
        display: flex;
        flex-direction: column;
    }

    .bottom-image {
        max-width: 100%;
        width: 100%;
    }
}

footer {
    width: 100%;
    height: 50px;
    background-color: white;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center
}