
body {
  background-color: #A100004D;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 64px;
  font-family: open-sans,sans-serif;
}
h1 {
  color: #A10000;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}
.container {
  display: flex;  
  flex-direction: column;
  width: 64%;
  justify-content: top;
  align-items: center;
  background-color: #FCFCFC;
  border:1px #FCFCFC solid;
}
.top-image-container {
  width: 100%;
}
.top-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.content-container {
    padding:24px 48px 64px 48px;
    gap:24px;
    display: flex;
    flex-direction: column; 
    width: 95%;
  ; 
}
.description-container {
  font-size: 16px;
  text-align: left;
  background-color: #EBEBEB;
  padding:16px;
  height: 22px;
  display: flex;
  justify-content: left;
  align-items: center;
  
}

.ingredients-container {
  
  width: 100%;
  margin: 0;
  
}
.ingredients-container ul {
    margin:0;
}
.ingredients-container li {
  padding-top: 16px;
}
.cooking-instructions-container {
  margin:0;
  width: 100%;
}
.cooking-instructions-container ol {
    margin:0;
}
.cooking-instructions-container li {
    padding-top: 16px;
}
.bottom-image-container {
  display: flex;
  flex-direction: row;
  gap:16px;
  width: 100%;
}
.bottom-image{
    width: 100%;
    object-fit: cover;
    max-height: 467px;
}
@media (max-width: 768px) {
        .container {
            width: 100%;
        }
      .bottom-image-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 16px;
      }
      .bottom-image {
        max-width: 100%;
      }

    }




